# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
first = np.random.randint(1,5,100)
second = np.random.randint(1,4,100)
third = np.random.randint(10000,30000,100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [12]:
df1 = pd.DataFrame(first,columns=['1'])
df2 = pd.DataFrame(second,columns=['2'])
df3 = pd.DataFrame(third,columns=['3'])

print(f'df1 shape : {df1.shape}')
print(f'df2 shape : {df2.shape}')
print(f'df3 shape : {df3.shape}')

df1 shape : (100, 1)
df2 shape : (100, 1)
df3 shape : (100, 1)

In [13]:
all_df = pd.concat([df1,df2,df3],axis=1)
all_df

    1  2      3
0   4  1  28888
1   2  1  19718
2   2  3  22836
3   3  1  22670
4   1  3  18978
.. .. ..    ...
95  1  3  11042
96  3  3  19402
97  3  3  20583
98  3  2  18777
99  4  2  24524

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [15]:
all_df.rename(columns={'1':'bedrs',
                       '2':'bathrs',
                       '3':'price_sqr_meter'},
              inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [20]:
bigcolumns = pd.concat([df1,df2,df3],axis=0)
type(bigcolumns)

pandas.core.frame.DataFrame

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [21]:
bigcolumns.shape

(300, 3)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [26]:
bigcolumns.reset_index(drop=True,inplace=True)